.sns{
    margin:10px auto;
    text-align:center;
    width:100%;
  }
  .sns ul {
    list-style:none !important;
    padding: initial !important;
  }
  .sns li {
    float:left;
    width:10%;
    margin:5px 3px;
    list-style:none !important;
  }
  .sns li span,.sns .fa{
    font-size:20px !important;
  }
  .sns li a {
    font-size:18px;
    position:relative;
    display:block;
    transition:0.3s;
    border-radius:6px;
    text-align:center;
    text-decoration: none;
  }
  /* ツイッター */
   .twitter-x a {
     color:#000000;
      background:#fff;
      border:2px solid #000000
  }
    .twitter-x a:hover {
      background:#000000;
     color:#fff;
  }
  /* Facebook */
    .facebook a {
      background:#fff;
      color:#3b5998;
     border:2px solid #3b5998;
  }
   .facebook a:hover {
      background:#3b5998;
     color:#fff;
  }
  
  /* グーグル */
   .google1 a {
      background:#fff;
      color:#db4a39;
     border:2px solid #db4a39;
  }
    .google1 a:hover {
      background:#db4a39;
     color:#fff;
  }
  
  /* はてぶ */
    .hatebu a {
      background:#fff;
  color:#5d8ac1;
     border:2px solid #5d8ac1;
  }
  .hatebu a:hover {
      background:#5d8ac1;
     color:#fff;
  }
  /* feedly  */
   .feedly a{
     background:#fff;
      color:#87c040;
     border:2px solid #87c040;
        }
   .feedly a:hover{
    background:#87c040;
    color:#fff;
   }
  
  /* Pocket */
   .pocket a {
    background:#fff;
    color:#f03e51;
    border:2px solid #f03e51;
  }
   .pocket a:hover {
    background:#f03e51;
     color:#fff;
  }
  
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  .share-title{
    font-size:20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
    margin-top:30px;
  }
  @media only screen and (max-width: 780px) {
    .sns li{
      width:47%;
    }
  }
  