{% unless page.tags contains "index" %}
{%   assign volume = page.id | split: "/" | slice: 2 %}
{%   assign index_id = page.id | split: "/" | slice: 0, 3 | join: "/" | append: "/index" %}
{%   assign toc = site.posts | find: "id", index_id %}
{%   assign toc_posts = toc.articles %}

{%   if toc_posts.size > 0 %}
<h4><a href="{{base}}{{ toc.url }}">{{ volume }}号</a></h4>
<ul>
{%     for post in toc.articles %}
<li>{{ post.id }}
{%     endfor %}
</ul>
{%   endif %}
{% endunless %}

<h4>
{% for post in site.tags.latest %}
    <a href="{{base}}{{ post.url }}">{{ post.short_title }}</a>
{% endfor %}
</h4>

<h4>バックナンバー</h4>
<ul>
    <li><a href="{{base}}{% post_url articles/backnumber/2000-01-01-backnumber %}">記事単位</a></li>
    <hr>
    {% for post in site.tags.index %}
        <li><a href="{{base}}{{ post.url }}">{{ post.short_title }}</a></li>
    {% endfor %}
</ul>
<p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
