body {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.copyright {
    color: #ffffff;
}

.post_info {
    text-align: right;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar {
    background-color: #900;
    background: url(../images/rubima_logo_left.png) top no-repeat, url(../images/rubima_sidebar.png) bottom repeat-y;
    position: absolute;
    top: 0em;
    left: 0px;
    width: 150px;
    color: #fee;
    word-break: break-all;
    padding-top: 148px;
    padding-bottom: 5em;
}

.sidebar h4 {
    font-size: small;
    padding-right: 8px;
    margin-bottom: 0.2em;
    margin-top: 1em;
}

.sidebar a {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

.sidebar ul {
    margin-top: 0em;
    margin-left: 0em;
    padding-left: 10px;
    padding-right: 8px;
}

.sidebar li {
    font-size: x-small;
    list-style-type: none;
    margin: 6px 0px;
    line-height: 100%;
}

.container-left {
    margin: 0;
}

img {
    max-width: 100%;
}

.main {
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 0.6em;
    padding: 0.0em;
    padding-top: 0em;
    padding-left: 0em;
}

@media(max-width:600px) {
    .main {
        margin-left: 0px;
    }
}

.main hr {
    width: 96%;
    color: #888;
    background-color: transparent;
}

.main h1 {
    margin-bottom: 0.4em;
    padding-left: 0.2em;
    font-size: large;
    border-color: #333333;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.main h2 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 110%;
    padding-left: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: #ffffff;
    background-color: #696969;
}

.main h3 {
    font-size: 110%;
    border-color: #950000;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.main h4 {
    margin-left: 0.6em;
    border-color: #950000;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    font-size: 100%;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    border: solid 1px;
}

td {
    border: solid 1px;
}