<!DOCTYPE html>
<html>
  {% include base.html %}
  {% include index_head.html %}
  <body>
    <div class="container-fluid">
        <div class="row full">
            <div class="col-md-2 hidden-xs sidebar">
                {% include sidebar.html %}
            </div>
            <div class="col-md-10 main">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{base}}{{ site.baseurl }}/images/rubima_logo_l.png">
                        <h1>{{page.title}}</h1>
                        <div class="social-buttons">
                            {% include social-buttons.html %}
                        </div>
                        <div id="redirect_notice"></div>
                        <div class="section">
                           『るびま』は、Ruby に関する技術記事はもちろんのこと、Rubyist へのインタビューやエッセイ、その他をお届けするウェブ雑誌です。
                        </div>
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer class="footer">
            {% include footer.html %}
        </footer>
    </div>
  </body>
</html>
