<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container container-left">
        <div class="row">
            <div class="col-md-1 hidden-xs sidebar">
                {% include sidebar.html %}
            </div>
            <div class="col-md-11 main">
                <img src="{{ site.baseurl }}/images/rubima_logo_l.png">
                <h1>{{page.title}}</h1>
                <div class="social-buttons">
                    {% include social-buttons.html %}
                </div>
                {{ content }}
            </div>
        </div>
    </div>
  </body>
</html>
<!DOCTYPE html>
<html>
